<p>dashboard works!</p>
<div class="card">
    <div class="card-body mb-10">
        <h5 class="card-title">Card title</h5>
        <hr>
       

        <div class="row ">
            <div class="col-12">
                <label for="input1">Label</label>
                <input id="input1" class="form-control" placeholder="Input">                
            </div>
            <div class="col-12">
                <label for="input2">Label</label>
                <input id="input2" class="form-control" placeholder="Input">                
            </div>
            <div class="col-12">                
                <button type="button" class="btn btn-success ">Button</button>
            </div>

        </div>
    </div>
</div>